html{
    margin: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
}

body{
    display:flex;
    flex-direction: column;
    margin: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
}

header{
    display:flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    align-self:flex-start;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(116,58,213,1) 30%, rgba(213,58,157,1) 70%, rgba(255,255,255,1) 100%);
}

.textcontainer{
    width:50%;
    height:98%;
    padding-left: 10px;
    background-color: white;
}

.buttoncontainer{
    display: flex;
    padding-right: 10px;
    justify-content: flex-end;
    height:98%;
    width: 50%;
    background-color: white;
}

.addbook{
    float:right;
    margin-right: 3%;
}


.formandbooks{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    height:100%;
    padding: 10px;
}

.bookscontainer{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-self:flex-end;
    height: 100%;
    width: 80%;
}

.formcontainer{
    display:flex;
    flex-direction: column;
    width:11%;
    min-width:210px;
    height: fit-content;
}

.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    min-height: 125.2px;
    border: 1px solid black;
    margin: 8px;
    background-image: url(/Images/biblioteca-1024x683-1000x450.jpg);
    background-size: cover;
    opacity: 100%;
    position: relative;
}

.title, .author, .pages, .read{
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,0.5);
}

.remove-button{
    align-self:flex-end;
    position: absolute;
    margin-right: 10px;
}

#titlef, #authorf, #pagesf, #readf{
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    height: 25px;
}
